{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "plugin:react/recommended"],
  "plugins": ["react", "flowtype", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": 0,
    "lines-between-class-members": 0,
    "react/destructuring-assignment": 0,
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "react/require-default-props": 0,
    "react/sort-comp": 0,
    "import/no-extraneous-dependencies": 0,
    "no-plusplus": 0,
    "no-return-assign": 0,
    "react/jsx-one-expression-per-line": 0,
    "import/prefer-default-export": 0
  },
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules", 
          "src/", 
          "src/navigation", 
          "src/screens"
        ]
      }
    }
  }
}
